{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/tailwind.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/product.css'%}" rel="stylesheet">
   <script src="https://kit.fontawesome.com/f75233d904.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include 'shop/nav.html' %}
  {% include 'shop/jumb.html' %}
 
 
  {% block content %}
 <!-- content -->
  {% include 'shop/carousel.html' %}

  {% include 'shop/about.html'}

  {% endblock %}

  <!-- {% block about %}{% endblock %} -->


<!-- footer -->
    </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
