{% extends 'shop/base.html' %}

{% load static custom_tags %}

{% block content %}
    <!-- Jumbotron Section with Banners -->
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            {% for banner in banners %}
                <li data-bs-target="#bannerCarousel" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %}active{% endif %}"></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for banner in banners %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <img src="{{ banner.image.url }}" class="d-block w-100" style="object-fit: cover;height:30%;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ banner.title }}</h5>
                        <p>{{ banner.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Popular Products Section -->
    <section class="section-name padding-y-sm">
        <div class="container">
            <header class="section-heading">
                <a href="{% url 'shop:product_list' %}" class="btn btn-outline-primary float-right">See all</a>
                <h3 class="section-title">Popular products</h3>
            </header>
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card card-product-grid">
                            <a href="{{ product.get_absolute_url }}" class="img-wrap">
                                <img src="{{ product.images.url }}">
                            </a>
                            <figcaption class="info-wrap">
                    <a href="{{ product.get_absolute_url }}" class="title">{{ product.product_name }}</a>
                    <div class="price mt-1">$ {{ product.price }}</div>
                    <div class="rating-star">
                        <span>
                            <i class="fa fa-star{% if product.averageReview < 0.5 %}-o{% elif product.averageReview >= 0.5 and product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 1.5 %}-o{% elif product.averageReview >= 1.5 and product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 2.5 %}-o{% elif product.averageReview >= 2.5 and product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 3.5 %}-o{% elif product.averageReview >= 3.5 and product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
                            <i class="fa fa-star{% if product.averageReview < 4.5 %}-o{% elif product.averageReview >= 4.5 and product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
                        </span>
                    </div>
                </figcaption>
            </div>
        </div>
    {% endfor %}
</div>
</section>
{% endblock %}

