  /* footer css code */
.footer {
background-color: #660066;
color: #ffffff;
padding: 20px;
text-align: center;
}

.footer h5 {
font-size: 1.2rem;
font-weight: bold;
margin-bottom: 10px;
}

.footer ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer li {
margin-bottom: 10px;
}

.footer a {
color: #ffffff;
text-decoration: none;
}

.footer i {
margin-right: 10px;
}

